

div.carousel-indicators{
    background-color: orangered;
    padding: 10px;
    color: aqua;
}
div.carousel{
    padding: 20px;
}

.navbar li a :hover {
    background-color:white;

}
.navbar > li {
    float: left;
}
.navbar li ul {
    display:none;
    position: absolute;
    min-width: 140px;
}
.navbar li:hover > ul{
    display: block;
}
.footer{
    background-color: mediumblue;
    padding: 10px 10px;
    margin: 5px 5px;
}
.footer img {
    position: relative;
    padding: 10px 10px;
    width: auto;
    height: auto;
    max-height: 100px;
    
   
    
}
img{
    border: 3px darkgrey;
}
.Contacto{
    
    background: wheat;
    
}
 .footer .Contacto p {
    
    background: wheat;
    
}
.footer #logo {
    display: block;
    justify-content: center;
    text-align: center;
}
