

div.carousel-indicators{
    background-color: orangered;
    padding: 10px;
    color: aqua;
}
div.carousel{
    padding: 20px;
}
.navbar li a :hover {
    background-color:white;

}
.navbar > li {
    float: left;
}
.navbar li ul {
    display:none;
    position: absolute;
    min-width: 140px;
}
.navbar li:hover > ul{
    display: block;
}
